@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    /* overflow-x: hidden; */
    background-image: url("1301120.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Fira Code', monospace;
    /* overflow: hidden; */
}

.nav-text{
	color:white;
	font-size:1.2em;
	margin:10px;
}


.navbar{
    border:1px solid black;
    position: fixed;
    z-index: 10000;
	background:black;
	margin:0px;
	padding:.5%;
    height: 25px; 
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 100%;
    width: 100%;
    padding-right:10px   ;
    padding-left: 10px;

}

.navbar > .left-text{
	float:left;
	overflow: auto;
    margin: 0;
    margin: 0;
    
}

.navbar > .right-text{
	float:right;
	overflow: auto;
	margin: 0;
	margin-right: 50px;
}

.left-nav{
	padding: 3px;
	position: fixed;
	left: 0;
	top: 30%;
	width: 50px;
	background: rgb(0, 0, 0, 0.5);
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* z-index: 100; */
}

p .left-nav-item{
    display: inline-block;
	width: 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
}

p .left-nav-item,.nav-text:hover{
	cursor: pointer;
}
.left-nav p:hover{
    background-color: #ffffff54;
}
.left-nav p{
    width: 45px;
    /* display: inline-block; */
    border-radius: 4px;
    /* height: 100%;
    vertical-align: middle; */
}
#date{
    float: center;
    margin: auto;
    color: white;
    display: inline;
    text-align: center;
    /* margin-left:-20px ; */
}
.body{
    height: 100%;
    width: 100%;
    /* position: relative; */
    /* overflow: hidden; */
}








/* terminal */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f;
    position: fixed;
}

.terminal{
    /* position: absolute; */
    width: 50%;
    background: rgba(0, 0, 0, 0.884);
    color: rgb(51, 255, 0);
    padding: 10px;
    height: 50%;
    /* left: 25%; */
    overflow-x: hidden;
    font-size: 1.25em;
    font-family: monospace;
    white-space: normal;
    z-index: 1000;
  }
  .terminal-top{

  }
  h2{
      color: rgb(47, 85, 255);
  }
  .line{
    display: table;
    width: 100%;
  }
  
  .terminal span{
    display:table-cell; 
    width:120px;
    /* color: re    d; */
    background-color: rgba(0, 0, 0, 0);
  }
  
  .terminal input{
    display:table-cell; 
    width:100%;
    border: none;
    background: rgba(0, 0, 0, 0);
    color: rgb(51, 255, 0);
    outline: none;
    font-size: 16px;
    font-family: monospace;
}
#ter{
  position: absolute;
  width: 100%;
  height: 100%;
}
  
  
  #fakeMenu {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 50%;
    color: rgb(0, 0, 0);
    background-color: #bbb;
    padding: 10px;
    top: 20%;
    /* height: 4%; */
    padding-bottom: 0;
    padding-top: 0;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  #fakeMenu2 {
    width: 50%;
    background-color: #bbb;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
    overflow: hidden;
  }
  .icons{
      float: right;
      margin: 1%;
      z-index: 10000;
      color: #574f4f;
      zoom: 1;
      padding-right: 5px;
  }
  .min{
      font-weight: 100px;
  }
  .element::-webkit-scrollbar { width: 0 !important }
.name{
    display:inline-block; 
    font-weight:1000;
    position: relative;
    margin-top: 1%;
    margin-left: 11%;
}
#ter{
    left: 25%;
    top: 20%;
}




.dropdown {
    position: relative;
    display: inline-block;
    float: left;
    width: 160px;
    text-align: center;
    background-color: rgb(0, 0, 0);
  }
  /*apiKey = cm9vdG5hcmF5YW57VzBXX3kwVV9oNHYzX2YwdU5EX3RoM19GMTRnX0dHfQ== */
  .dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #242222;
    min-width: 160px;
    color: #bbb;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
  }
  .dropdown-content p{
      cursor: pointer;
      margin: 0;
      padding: 10%;
  }
  .dropdown-content p:hover{
    background-color: #53525242;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .icons:hover{
      cursor: pointer;
      color: rgb(0, 0, 0);
  }

  @media (max-width: 991px) {
    #ter{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    }
    body{
    }
    .terminal{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        }
    #fakeMenu,#fakeMenu2{
        width: 100%;
        /* top: 10%; */
    }
    .dropdown {
        text-align: left;
        width: 120px;
    }
    }
    @media (max-width: 991px) {
        .navbar{
            font-size: small;
            font-family: 'Ubuntu', sans-serif;
        
        }
        .navbar > .right-text{
        margin-right: 20px;
        margin-left: 0px;
        }
        #ter{
        height: 100%;
        width: 100%;
        top: 4%;
        left: 0;
        }
        .terminal{
        width: 100%;
        height: 100%;
        }
        body{
            overflow: auto;
        }
    }
    
    @media (min-width: 2000px) {
        .navbar{
            font-size: 250%;
        }
    }


    .body{
        /* overflow: unset; */
    }

    .body::-webkit-scrollbar {
        display: none;
    }
    ::selection {
        color: none;
        background: none;
    }
    ::-moz-selection {
        color: none;
        background: none;
    }
    #ter ::selection {
        color: white;
        background: rgb(55, 55, 141);
    }
    #ter::-moz-selection {
        color: white;
        background: rgb(55, 55, 141);
    }
    .fmic{
        display: inline;
        cursor: pointer;
        padding: 10px;
        margin: 0;
    }
    .fmic:hover{
        background: rgb(116, 115, 115);
    }
    #path{
        color: red;
        display: table-cell;
    }
    .aaa{
        display: table-cell;
    }



.hlog,.hlogg,.body{
    display: none;
}
.login{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2a2d32;
}
.signin{
    position: absolute;
    width: 30%;
    height: 20%;
    /* background-color: black; */
    top: 40%;
    left: 35%;
}
.sinputs{
    position: relative;
    height: 80%;
    width: 80%;
    padding: 10%;
    /* background-color: #bbb; */
}
.sinputs p {
    margin: 1% 0;
    color: #9da1a2;
    font-size: larger;
}
.sinputs input{
    background-color: #232427;
    color: #9da1a2;
    font-size: large;
    border: 1px #9da1a242 solid;
    width: 90%;
    height: 25%; 
}
.wel{
    top: 20%;
    left: 35%;
    font-size: small;
}
.well{
    height: 90%;
    width: 100%;
    /* padding: 5%; */
}
#nn{
    font-size: small;
    color: red;
    display: none;
}

@media (max-width: 991px) {
    .signin{
        width: 94%;
        left: 0;
        margin: 0;
        padding: 0;
        
        padding: 3%;
        /* background-color: #bbb; */
    }
    .sinputs{
        width: 94%;
        padding: 3%;
    }
    .dd{
        top: 50%;
    }
}
button{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0px;
}
a{
    color: green;
}